<h1>{{ user.id === 0 ? 'Create User' : 'Edit User' }}</h1>

<form (ngSubmit)="updateUser()">
  <label for="username">Username:</label>
  <input [(ngModel)]="user.username" name="username" id="username" required />

  <label for="firstName">First Name:</label>
  <input [(ngModel)]="user.firstName" name="firstName" id="firstName" required />

  <label for="lastName">Last Name:</label>
  <input [(ngModel)]="user.lastName" name="lastName" id="lastName" required />

  <label for="email">Email:</label>
  <input [(ngModel)]="user.email" name="email" id="email" type="email" required />

  <label for="address">Address:</label>
  <input [(ngModel)]="user.address" name="address" id="address" required />

  <label for="phoneNumber">Phone Number:</label>
  <input [(ngModel)]="user.phoneNumber" name="phoneNumber" id="phoneNumber" required />

  <label for="password">{{ user.id ? 'Password (Optional for updates):' : 'Password' }}</label>
  <input [(ngModel)]="newPassword" name="password" id="password" type="password" />

  <div class="button-container">
    <button type="submit">{{ user.id === 0 ? 'Create User' : 'Save Changes' }}</button>
    <button type="button" (click)="router.navigate(['/admin/users'])">Cancel</button>
  </div>

</form>
