<nav>
  <ul>
    <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/admin/users" routerLinkActive="active">Users</a></li>
    <li><a routerLink="/admin/cities" routerLinkActive="active">Cities</a></li>
    <li><a routerLink="/admin/cars" routerLinkActive="active">Cars</a></li>
    <li><a routerLink="/admin/advertisements" routerLinkActive="active">Advertisements</a></li>
    <li><a routerLink="/auth/logout">Logout</a></li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
